# if you add a file here, add it to `.npmignore` too
artifacts/
cache/
crytic-export/
node_modules/
typechain/
foundry-out/
.vscode/
out/

#certora formal verification
.certora_internal/
certora/munged/*
